# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Models (Keep these if they are under 50MB, otherwise use Git LFS)
# Since your .pkl files are small, we can keep them for now
# models/*.pkl 

# Frontend
node_modules/
build/
.DS_Store